*
{
  font-family: "Serial";
}

html,h1,h2
{
  color: white;
}

h3,h4,h5,h6
{
  color: green;
}

body
{
  background-image: url("https://media.discordapp.net/attachments/1202615813375271004/1202615813689835560/20220313_183525-03.jpeg");
  background-size: 100%;
}

.content
{
  font-size: 25px;
}

.titlecontent
{
  color: green;
  font-size: 32px;
}

li
{
  color: tomato;
}

.footer-links
{
opacity: 0.7;
background-image: url("https://media.discordapp.net/attachments/1202616599761264670/1202616600658710548/20220313_183525-02.jpeg");
float: left;
width: 100%;
border: 0;
padding: 6px;
padding-right: 15px;
text-align: center;
font-size: 19px;
}

.textinlogo
{
  text-align: center;
  font-size: 40px;
}

hr
{
    width: 100%; /* ширина линии */
    height: 4px; /* высота / толщина линии */
    background: #333; /* фон / цвет линии */
    border: 0; /* рамка вокруг разделительной линии (уберем ее) */
    margin: 5px 0 5px 0; /* отступ над и под линией 5 пикселей */
    text-align: center;
}

ul.links {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.links li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.links li:first-child a {
  border-radius:5px 0 0 5px;
}

.links li:last-child a {
  border-radius:0 5px 5px 0;
}

.links a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.links a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:bold;
}

.links ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

.links li + li + li {
  border-right:none;
  width:89px;
}

.links a strong {
  font-size:14px;
  display:block;
  color:#222;
}
