*
{
  font-family: "Serial";
}

html,h1,h2
{
  color: white;
}

h3,h4,h5,h6
{
  color: green;
}

body
{
  background-color: black;
}

li
{
  color: tomato;
}

.footer-links
{
opacity: 0.7;
background: #556b2f;
float: left;
width: 310px;
border: 0;
padding: 6px;
padding-right: 15px;
text-align: center;
}

.textinlogo
{
  text-align: center;
  font-size: 40px;
}

hr
{
    width: 100%; /* ширина линии */
    height: 4px; /* высота / толщина линии */
    background: #333; /* фон / цвет линии */
    border: 0; /* рамка вокруг разделительной линии (уберем ее) */
    margin: 5px 0 5px 0; /* отступ над и под линией 5 пикселей */
    text-align: center;
}
