*
{
  font-family: "Serial";
}

html,h1,h2
{
  color: white;
}

h3,h4,h5,h6
{
  color: green;
}

body
{
  background-color: black;
}

li
{
  color: tomato;
}

a:link
{
  font-size: 2rem;
  text-align: center;
}

.footer-links
{
opacity: 0.7;
background: #edab92;
float: left;
width: 310px;
border: 4px solid red;
padding: 6px;
padding-right: 15px;
}
