<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentel Safety</title>
    <link rel="stylesheet" href="Styles/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapips.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    
    <header>
    <h1>TentelSafety Documentation</h1>
    </header>

<main>
  <section>
    
    <h2>Welcome!</h2>
    
<p class="textinlogo"><b>TentelSafety provides a security feature for the Discord server.
The bot is built on algorithms and functions that initiate an addition to the secure environment on the server.</b></p>

<hr>
  
<p class="titlecontent">DoS Protect</p>
    <div class="content">
<p style="color:limegreen">TentelSafety identifies incoming integrations to the server. Unverified integrations will not be allowed to reach the server.</p>
    </div>
    
<p class="titlecontent">User Protect</p>
    <div class="content">
<p style="color:limegreen">TentelSafety identifies alternative accounts by comparing the standard flow conditions with the incoming user.</p>
    </div>

<p class="titlecontent">Status Check</p>
    <div class="content">
<p style="color:limegreen">The algorithm excludes incoming users with offline status from the server.</p>
    </div>

<p class="titlecontent">Permissions Protect</p>
    <div class="content">
<p style="color:limegreen">The algorithm analyzes the initial rights of the integration or user, and if they exceed the norm, TentelSafety initiates neutralization.</p>
    </div>

<p class="titlecontent">Set Quarantine</p>
    <div class="content">
<p style="color:limegreen">Database of violators of Discord community rules in the Russian segment of the Discord platform. TentelSafety bans incoming users that are identified in the database.</p>
    </div>

<p class="titlecontent">Verification</p>
    <div class="content">
<p style="color:limegreen">Flexible verification system equipped with heuristic analysis. TentelSafety analyzes the user undergoing verification, comparing it with the passage conditions specified by heuristic analysis.</p>
<p style="color:limegreen">Find out how to use: t.help > Functions </p>
    </div>
    
<p class="titlecontent">Bypass TentelSafety.</p>
    <div class="content">
<p style="color:limegreen">Currently, there are no malicious integrations capable of bypassing the DoS Protect TentelSafety. But there is a technical tool that is able to bypass the identification of the attack; the bot does not respond to self bots in the attacker's accounts. To counteract this, it is enough for you not to grant <i>administrator rights, server management, webhook management, role management and channel management</i> to questionable persons. (details of information security in Discord can be found on the Tentel Crew server)</p>
    </div>
    
  </section>
</main>
    
 <div class="footer-dark" align="center">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="https://tentel-crew.github.io/tentelsafety-terms">Terms of Use</a></li>
                            <li><a href="https://tentel-crew.github.io/tentelsafety-privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="https://t.me/TentelCrew">Telegram</a></li>
                            <li><a href="https://discord.gg/MgWt7tmEAT">Discord</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3><li><a href="https://discord.com/oauth2/authorize?client_id=1094948048246951937&scope=bot%20applications.commands&permissions=8">TentelSafety. Add to the Server</a></li></h3>
                        <p>Safety, Functions, Trusted.</p>
                    </div>
                <p class="copyright">© Tentel Crew 2022-2024 • Not affiliated with Discord Inc.</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div>

  </body>
</html>
