<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentel Safety</title>
    <link rel="stylesheet" href="Styles/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapips.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    
    <header>
    <h1>TentelSafety Documentation</h1>
    </header>

<main>
  <section>
    
    <h2>Welcome!</h2>

<p align="center"><img src="https://media.discordapp.net/attachments/1149729963088564234/1149730131632472115/20230623_171831.png" width="200" height="200" alt="TentelSafety"></p>
    
<p class="textinlogo"><b>TentelSafety provides a security feature for the Discord server.
The bot is built on algorithms and functions that initiate an addition to the secure environment on the server.</b></p>

<hr>
  
<p class="titlecontent">The algorithms include:</p>
    <div class="content">
<p style="color:limegreen">- Anti DDoS, saving the server and minimizing the threat from all known Nuke bots.</p>
<p style="color:limegreen">- Negative actions against alternative accounts.</p>
<p style="color:limegreen">- Monitoring the activity status of the incoming user on the server.</p>
<p style="color:limegreen">- Control of the rights of the incoming user to the server.</p>
<p style="color:limegreen">- Quarantine that eliminates potential threats from users in the database.</p>
    </div>
    
<p class="titlecontent">The functions include:</p>
    <div class="content">
<p style="color:limegreen">- User verification using <b>heuristic analysis</b>.</p>
<p style="color:limegreen">- Tentel Key, an additional configuration that sets the access key for the algorithm configurator.</p>
<p style="color:limegreen">- Quick Ban, the command responsible for banning several users at the same time by IDs.</p>
<p style="color:limegreen">And so on...</p>
    </div>
    
<p class="titlecontent">Bypass TentelSafety.</p>
    <div class="content">
<p style="color:limegreen">Currently, there are no malicious integrations capable of bypassing the Anti DDoS TentelSafety. But there is a technical tool that is able to bypass the identification of the attack; the bot does not respond to self bots in the attacker's accounts. To counteract this, it is enough for you not to grant <i>administrator rights, server management, webhook management, role management and channel management</i> to questionable persons. (details of information security in Discord can be found on the Tentel Crew server)</p>
    </div>
    
  </section>
</main>
    
 <div class="footer-dark" align="center">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="https://tentel-crew.github.io/tentelsafety-terms">Terms of Service</a></li>
                            <li><a href="https://tentel-crew.github.io/tentelsafety-privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="https://t.me/TentelCrew">Telegram</a></li>
                            <li><a href="https://discord.gg/MgWt7tmEAT">Discord</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>TentelSafety</h3>
                        <p>Safety, Functions, Trusted.</p>
                    </div>
                <p class="copyright">© Tentel Crew 2022-2024 • Not affiliated with Discord Inc.</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div>

  </body>
</html>
