<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentel Safety</title>
    <link rel="stylesheet" href="Styles/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapips.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    
    <header>
      <div class="col-6">
    <h1>TentelSafety Documentation</h1>
      </div>
    </header>

<main>
  <section>
    
    <h2>Welcome!</h2>

<p align="center"><img src="https://media.discordapp.net/attachments/1149729963088564234/1149730131632472115/20230623_171831.png" width="200" height="200" alt="TentelSafety"></p>
    
<p align="center">TentelSafety provides a security feature for the Discord server.
The bot is built on algorithms and functions that initiate an addition to the secure environment on the server.</p>

<h3>The algorithms include:</h3>
<p style="color:limegreen">- Anti DDoS, saving the server and minimizing the threat from all known Nuke bots.</p>
<p style="color:limegreen">- Negative actions against alternative accounts.</p>
<p style="color:limegreen">- Monitoring the activity status of the incoming user on the server.</p>
<p style="color:limegreen">- Control of the rights of the incoming user to the server.</p>
<p style="color:limegreen">- Quarantine that eliminates potential threats from users in the database.</p>

<h3>The functions include:</h3>
<p style="color:limegreen">- User verification using heuristic analysis.</p>
<p style="color:limegreen">- Tentel Key, an additional configuration that sets the access key for the algorithm configurator.</p>
<p style="color:limegreen">- Quick Ban, the command responsible for banning several users at the same time by IDs.</p>
<p style="color:limegreen">And so on...</p>

<h3>Bypass TentelSafety.</h3>
<p style="color:limegreen">Currently, there are no malicious integrations capable of bypassing the Anti DDoS TentelSafety. But there is a technical tool that is able to bypass the identification of the attack; the bot does not respond to self bots in the attacker's accounts. To counteract this, it is enough for you not to grant administrator rights, server management, webhook management, role management and channel management to questionable persons. (details of information security in Discord can be found on the Tentel Crew server)</p>

  </section>
</main>
    
 <footer>
  <h5 align="center">© Tentel Crew 2022-2024 • Not affiliated with Discord Inc.</h5>
<div style="color:tomato">
   <ul>
    <li style="color:tomato"><a href="https://tentel-crew.github.io/tentelsafety-terms">Terms of Service</a></li>
    <li style="color:tomato"><a href="https://tentel-crew.github.io/tentelsafety-privacypolicy">Privacy Policy</a></li>
    <li><a href="https://discord.gg/MgWt7tmEAT">Developer Server</a></li>
   </ul>
</div>
<li><a href="https://discord.com/oauth2/authorize?client_id=1094948048246951937&scope=bot%20applications.commands&permissions=8">Invite TentelSafety</a></li>
 </footer>
  </body>
</html>
